.sidebar{
    flex:1;
    border-right: 0.5px solid rgba(230,227,227,0.5);
    min-height:100vh;
    background-color: #fff;
    .top{
        height:50px;
        display:flex;
        align-items:center;
        justify-content:center;
       .logo{
        font-size:20px;
        font-weight:bold;
        color:#6439ff;       
       }
    }
    hr{
        height: 0;
        border: 0.5px solid rgba(230,227,227,0.5);
    }
    .center{
        padding-left: 10px;
        ul{
            list-style:none;
            margin:0;
            padding:0;
        }
    }
}