.datatable{
  height: 600px;
  padding:20px;

  .cellWithImg{
    display: flex;
    align-items: center;
    .cellImg{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right:20px;

    }
  }
  .cellWithStatus{
    padding:5px;
    border-radius:5px;

    &.active{
      background-color: rgba(0,128,0,0.05);
      color:rgb(6, 133, 6);
    }
    &.pending{
      background-color: rgba(255,217,0,0.05);
      color: rgb(218, 165, 32);
    }
    &.passive{
      background-color: rgba(255,0,0,0.05);
      color: rgb(220, 20, 60);
    }
  }
}